:root {
  --link-font-family: "Roboto";
  --link-color: #fff;
  --link-active-color: #2196f3;
  --link-second-color: #7575;
  --link-third-color: #212121;
  --link-another-color: #757575;
}
.container {
  box-sizing: border-box;
  width: 1600px;
  height: 2306px;
}
.auto {
  cursor: pointer;
}
.body-class {
  font-family: var(--link-font-family);
}
.global-header
  .header
  .main-navigation
  ul
  li.navigation-menu
  .hero-continer
  .contact
  .container
  .main-section
  .text
  .column
  .second-section
  ul.menu
  .third-section
  ul.team-class
  li.team-presentation {
  list-style-type: none;
}

a:link,
a:visited {
  font-weight: bold;
  font-size: 1.0625em;
  text-align: center;
  padding: 0.375em;
}

.logo {
  position: absolute;
  top: 1.5em;
  left: 10em;
  color: var(--link-active-color);
  font-size: 1.625em;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.04875em;
}
a.link-studio {
  color: var(--link-active-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin: 32px 47px 32px 0px;
  font-family: var(--link-font-family);
}
li.navigation-menu a.link {
  color: var(--link-third-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin: 32px 48px 32px 0px;
  font-family: var(--link-font-family);
}

li.navigation-menu a.phone-number {
  font-family: var(--link-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: var(--link-another-color);
  text-decoration: none;
  margin: 32px 40px 32px 0px;
}
li.navigation-menu a.email-adress {
  font-family: var(--link-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: var(--link-active-color);
  text-decoration: none;
  margin: 32px 40px 32px 0px;
}

.link:hover,
.link:focus,
.email-adress:hover,
.email-adress:focus,
.phone-number:hover,
.phone-number:focus,
.link-studio:focus,
.link-studio:hover {
  color: var(--link-active-color);
}

.global-header div.hero-continer .body-class footer.footer {
  background-color: #2f303a;
}

.global-header .hero-continer h1.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--link-color);
}
.global-header.button .hero-continer button.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--link-colorx);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--link-active-color);
}
.container div.column h3.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--link-third-color);
}
.container div.column p.details {
  font-family: var(--link-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--link-another-color);
  text-align: left;
  margin: 2px;
}
.container .second-section h2.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  font-family: var(--link-font-family);
}
.images {
  padding-left: 3.75em;
  padding-right: 1.875em;
}
.container .third-section h2.last-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.third-section p {
  color: var(--link-another-color);
  text-align: center;
  font-size: 1em;
  font-family: var(--link-font-family);
  letter-spacing: 0.03em;
}

.third-section .employee-class strong.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--link-third-color);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 30px;
  flex-shrink: 0;
}
.third-section .employee-class button.employee span.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--link-another-color);
  cursor: pointer;
}

.footer {
  background-color: #333;
  padding-top: 3.75em;
  padding-bottom: 3.75em;
  flex-direction: column;
  position: static;
  float: left;
  padding: 2.5em;
}
.footer,
.footer-logo {
  flex-shrink: 0;
  display: inline;
  flex-direction: column;
  float: left;
}
footer address.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding: 12px 0px 0px 205px;
}
footer address a.contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3px;
  color: var(--link-another-color);
  text-decoration: none;
  padding: 12px 0px 12px 0px;
}
.adress:hover,
.adress:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--link-color);
}
